  <div class="welcome_block">
  <h1>&nbsp;</h1>
        <p> Our employee record management software can help you deliver complete, compliant, accessible digital records of your workforce &ndash; making your HR organization more efficient. </p>
        <p> Organize records for instant accessibility and search &ndash; complying with legal requirements. </p>
        <p> Deliver high-quality HR services for large numbers of employees at reduced time and cost </p>

     <!--   <p><%= link_to("Department",{:controller=>'dept',:action=>"show"})%></p>-->
     
   </div> 
      