<h1>&nbsp;</h1><table border="1" >
<tr>
	<th>DEPARTMENT NAME</th>
	<th>MANAGER NAME</th>
</tr>
<tr>
<td><%= @view.deptName%></td>
<td><%= @view.managerName%></td></tr>
</table></br>
<td><%= link_to("Back",{:action=>"show"})%></td>

